<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="angular-1.5.8/angular-1.3.0.js"></script>
</head>
<body>
<div ng-app="myApp">

    <div ng-controller="fistCtr" >
        <p>价格 <input type="text" ng-model="iphone.money"></p>
        <p>个数 <input type="text" ng-model="iphone.nus"></p>
        <p>费用 <span> {{sun()| currency:'￥'}}</span></p>
        <p>运费 <span> {{iphone.fre| currency:'￥'}}</span></p>
        <p>总额 <span> {{sun()+iphone.fre}}</span></p>
    </div>
    <div ng-controller="lastctr">
        {{greeting.text}}
        {{greeting.a}}
    </div>

</div>
</body>
<script>
    var app = angular.module("myApp", []);

    app.controller("fistCtr", ['$scope',
        function fistCtr($scope) {
            var json = {
                'name': 'hukai',
                'age': '18',

            }
//        angular.forEach(json,function (value,key) {
//            console.log(key+'!!!'+value)
//        })
//            $scope.iphone = {
//                money: 0,
//                nus:0,
//                fre:10
//            };
            var arr = [];
            angular.forEach(json, function (value, key) {
                console.log(key + '!!!' + value)
                this.push(key + value);
            }, arr);
            console.log(arr);
        }


    ]);

    app.controller("lastctr", ['$scope',
        function lastctr($scope) {
            $scope.greeting = {
                text: 'Hello2',
                a:'2'
            };
        }
    ]);

</script>

</html>